In [2]:
pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from pandasql) (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from pandasql) (2.0.37)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\germán\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26802 sha256=0c6225db2fa2c077660a4c8c31cae1ff05fe1d44eac02977c0e4dce63d9b65d1
  Stored in directory: c:\users\germán\appdata\local\pip\cache\wheels\15\a1\e7\6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
from pandasql import sqldf

In [9]:
df = pd.read_csv(r"C:\Users\Germán\Github\SQL_Project\data\orders.csv")

In [10]:
query = "SELECT * FROM df LIMIT 10;"  # Ver las primeras 10 filas
resultado = sqldf(query)
print(resultado)

   Unnamed: 0  order_id  order_date  product_id  quantity  total_price
0           0         1  2023-07-13          24         9      3726.45
1           1         2  2023-02-08          75         1       182.71
2           2         3  2023-02-14           6         6      2879.58
3           3         4  2023-10-07          16         7      2218.37
4           4         5  2023-02-03         100        10      3540.80
5           5         6  2023-12-03          39         3       752.40
6           6         7  2023-02-26          10         9      3340.44
7           7         8  2023-02-11          80         4      1720.96
8           8         9  2023-09-02          72         6      1834.56
9           9        10  2023-10-11          33         6      1809.12

# Nulos

In [11]:
query = "SELECT COUNT(*) AS nulos FROM df WHERE order_id IS NULL;"
resultado = sqldf(query)
print(resultado)

   nulos
0      0

In [12]:
nulos_por_columna = df.isnull().sum()
print(nulos_por_columna)

Unnamed: 0     0
order_id       0
order_date     0
product_id     0
quantity       0
total_price    0
dtype: int64

# Duplicados

In [13]:
query = "SELECT order_id, COUNT(*) FROM df GROUP BY order_id HAVING COUNT(*) > 1;"
resultado = sqldf(query)
print(resultado)
#No hay order_id repetidos

Empty DataFrame
Columns: [order_id, COUNT(*)]
Index: []

In [16]:
df.duplicated().sum()

np.int64(0)

# Algunas estadísticas

In [14]:
query = "SELECT MIN(total_price), MAX(total_price), AVG(total_price) FROM df;"
resultado = sqldf(query)
print(resultado)

   MIN(total_price)  MAX(total_price)  AVG(total_price)
0             15.49            4973.9         1455.4539